.product-bar-container {
  width: 100%;
  max-width: 85em;
  margin: 1em auto;
  background-color: white;
  padding: 1em;
  border-radius: 10px;
}

.product-bar__title {
  margin-left: 1em;
  font-size: 1.5em;
  font-weight: 600;
  display: flex;
  align-items: flex-start;
}

.product-bar__icon {
 color: #4cb334;
  margin-right: 10px;
}

.product-container {
  display: flex;
  width: 100%;
  max-width: 85em;
  margin: 0 auto;
}

@media (max-width: 1450px) {
  .product-bar-container {
      max-width: 70em;
  }
}

@media (max-width: 1200px) {
  .product-bar-container {
      max-width: 55em;
  }
}

@media (max-width: 960px) {
  .product-bar-container {
      max-width: 40em;
  }
}

@media (max-width: 700px) {
  .product-bar-container {
      max-width: 30em;
  }
}

@media (max-width: 500px) {
  .product-bar-container {
      max-width: 25em;
  }
}

@media (max-width: 400px) {
  .product-bar-container {
      max-width: 20em;
  }
}