.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 7em;
    width: 100%;
    height: 4em;
    background-color: white;
    padding: 2em 0;
    border-bottom: 2px solid #EEEEEE;
}


.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    width: 80%;
    max-width: 90em;
}

.navbar-container__item {
    color: black;
    padding: 13px 5px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: 500;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background-color .2s;
}
.navbar-container__item:hover {
    background-color: #EAEAEA;
}

.navbar-container__item:not(:last-child) {
    margin-right: 1em;
}

.navbar-container__icon {
    font-size: 1.3em;
    margin-right: 5px;
}

@media (max-width: 1600px) {
    .navbar-container__item:last-child {
        display: none;
    }
}

@media (max-width: 1300px) {
    .navbar-container__item:nth-last-child(-n + 2) {
        display: none;
    }
}

@media (max-width: 1050px) {
    .navbar-container__item:nth-last-child(-n + 3) {
        display: none;
    }
}

@media (max-width: 750px) {
    .navbar-container__item:nth-last-child(-n + 4) {
        display: none;
    }
    .navbar-container__item {
        font-size: 1em;
    }
}

@media (max-width: 500px) {
    .navbar-container__item:nth-last-child(-n + 5) {
        display: none;
    }
}