.product-cell-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 0 auto;
  padding: 0 2em 1em;
  width: 15em;
  position: relative;
  max-height: 18em;
}

.product-cell__image {
  padding: 15px;
  width: 100%;
}

.product-cell__info {
  line-height: 2em;
}

.product-cell__prices {
  display: flex;
  justify-content: flex-start;
}

.product-cell__promo-price {
  font-size: 1.2em;
  font-weight: 800;
  color: #E91E63;
  display: block;
  margin-right: 1em;
}

.product-cell__price {
  font-size: 1.2em;
  font-weight: 800;
  color: black;
  display: block;
}

.product-cell__normal-price {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: line-through;
}

.product-cell__title {
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.2em;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
     -webkit-line-clamp: 2;
     -webkit-box-orient: vertical;
}

.product-cell__button {
  position: absolute;
  right: 1.5em;
  top: 0.4em;
  background-color: #EEEEEE;
  border: none;
  border-radius: 50px;
  font-size: 1.5em;
  width: 1.88em;
  height: 1.8em;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: background-color .2s;
}

.product-cell__ammount {
  color: white;
  position: absolute;
  right: 1.5em;
  top: 0.4em;
  background-color: #43b02a;
  border: none;
  border-radius: 50px;
  font-size: 1.5em;
  width: 1.88em;
  height: 1.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  transition: background-color .2s;
}

.product-cell__ammount:hover {
  background-color: #31811f;
}

.product-cell__button:hover {
  background-color: #b9b9b9;
}

@media (max-width: 1450px) {
  .product-cell-container {
      width: 13em;
      max-height: 14em;
  }
}

@media (max-width: 1200px) {
  .product-cell-container {
    width: 13em;
    max-height: 14em;
  }
  .product-cell__ammount {
    font-size: 1em;
  }
  .product-cell__button {
    font-size: 1em;
  }
  .product-cell__normal-price {
    font-size: 0.8em;
  }
}

@media (max-width: 700px) {
  .product-cell-container {
    width: 10em;
    max-height: 11em;
  }
  .product-cell__promo-price {
    font-size: 1em;
  }
  .product-cell__price {
    font-size: 1em;
  }
  .product-cell__normal-price {
    font-size: 0.8em;
  }
}

@media (max-width: 500px) {
  .product-cell-container {
    width: 10em;
    max-height: 11em;
  }
  .product-cell__promo-price {
    font-size: 0.8em;
  }
  .product-cell__price {
    font-size: 0.8em;
  }
  .product-cell__normal-price {
    font-size: 0.6em;
  }
}