.product-slider-container {
  width: 50%;
}

@media (max-width: 1200px) {
  .product-image-slider__image {
    max-width: 25em;
  }
}

@media (max-width: 960px) {
  .product-image-slider__image {
    width: 80%;
    max-width: 20em;
  }
}

@media (max-width: 760px) {
  .product-image-slider__image {
    max-width: 15em;
  }
}